<ul>
  <li>
    <a href="<%= basePath %>/songs/" title="Guitar Notes grid view">
      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon-grid" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path d="M0 0h24v24H0z" stroke="none"></path>
          <rect x="4" y="4" width="6" height="6" rx="1"></rect>
          <rect x="14" y="4" width="6" height="6" rx="1"></rect>
          <rect x="4" y="14" width="6" height="6" rx="1"></rect>
          <rect x="14" y="14" width="6" height="6" rx="1"></rect>
        </svg></span>
      <span class="text">Grid view</span>
    </a>
  </li>
  <li>
    <a href="<%= basePath %>/songs/list/" title="Guitar Notes list view">
      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon-list" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path d="M0 0h24v24H0z" stroke="none"></path>
          <path d="M9 6h11M9 12h11M9 18h11M5 6v.01M5 12v.01M5 18v.01"></path>
        </svg></span>
      <span class="text">List view</span>
    </a>
  </li>
  <li>
    <a href="<%= basePath %>/lab/" title="Guitar Notes Lab grid view">
      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon-flask" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M9 3l6 0" />
          <path d="M10 9l4 0" />
          <path d="M10 3v6l-4 11a.7 .7 0 0 0 .5 1h11a.7 .7 0 0 0 .5 -1l-4 -11v-6" />
        </svg></span>
      <span class="text">Lab grid view</span>
    </a>
  </li>
  <li>
    <a href="<%= basePath %>/lab/list/" title="Guitar Notes Lab list view">
      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon-list" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path d="M0 0h24v24H0z" stroke="none"></path>
          <path d="M9 6h11M9 12h11M9 18h11M5 6v.01M5 12v.01M5 18v.01"></path>
        </svg></span>
      <span class="text">Lab list view</span>
    </a>
  </li>
  <li data-nav-setlists>
    <a href="<%= basePath %>/setlists/" title="Guitar Notes Setlists">
      <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon-clipboard-text" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
          <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
          <path d="M9 12h6" />
          <path d="M9 16h6" />
        </svg></span>
      <span class="text">Setlists</span>
    </a>
  </li>
</ul>
