<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head', { title }); %>
    <style>
    </style>
  </head>
  <body class="hidden">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF6BNKF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main class="index">
      <article>
        <h1 class="visuallyhidden"><%= title %> Temporary Index</h1>
        <section>
          <h2>Welcome to <%= title %></h2>
          <p style="text-overflow: inherit; white-space: inherit;">This is the temporary index for the new version of <%= title %>.</p>
          <h3>Current list:</h3>
          <small>* denotes a work in progress</small>
          <section>
            <div class='artist'>
               <input type='checkbox' name='abba' id='abba'><label for='abba'><span class='image'><img src='assets/images/abba.jpg' alt='ABBA'></span><span class='performer'>ABBA</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/abba-take-a-chance-on-me.html' target='_blank' rel='noopener noreferrer'><span class='song'>Take A Chance On Me*</span><span class='album'>ABBA: The Album</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='beck' id='beck'><label for='beck'><span class='image'><img src='assets/images/beck.jpg' alt='Beck'></span><span class='performer'>Beck</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/beck-asshole.html' target='_blank' rel='noopener noreferrer'><span class='song'>Asshole</span><span class='album'>One Foot In The Grave</span></a></li>
                     <li><a href='songs/beck-bogusflow.html' target='_blank' rel='noopener noreferrer'><span class='song'>Bogusflow</span><span class='album'>DGC Rarities Vol. 1</span></a></li>
                     <li><a href='songs/beck-girl.html' target='_blank' rel='noopener noreferrer'><span class='song'>Girl</span><span class='album'>Guero</span></a></li>
                     <li><a href='songs/beck-lost-cause.html' target='_blank' rel='noopener noreferrer'><span class='song'>Lost Cause</span><span class='album'>Sea Change</span></a></li>
                     <li><a href='songs/beck-rowboat.html' target='_blank' rel='noopener noreferrer'><span class='song'>Rowboat</span><span class='album'>Stereopathetic Soulmanure</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='camper-van-beethoven' id='camper-van-beethoven'><label for='camper-van-beethoven'><span class='image'><img src='assets/images/camper-van-beethoven.jpg' alt='Camper Van Beethoven'></span><span class='performer'>Camper Van Beethoven</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/camper-van-beethoven-51-7.html' target='_blank' rel='noopener noreferrer'><span class='song'>51-7</span><span class='album'>New Roman Times</span></a></li>
                     <li><a href='songs/camper-van-beethoven-pictures-of-matchstick-men.html' target='_blank' rel='noopener noreferrer'><span class='song'>Pictures Of Matchstick Men*</span><span class='album'>Camper Van Beethoven</span></a></li>
                     <li><a href='songs/camper-van-beethoven-take-the-skinheads-bowling.html' target='_blank' rel='noopener noreferrer'><span class='song'>Take The Skinheads Bowling</span><span class='album'>Telephone Free Landslide Victory</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='climax-blues-band' id='climax-blues-band'><label for='climax-blues-band'><span class='image'><img src='assets/images/climax-blues-band.jpg' alt='Climax Blues Band'></span><span class='performer'>Climax Blues Band</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/climax-blues-band-couldnt-get-it-right.html' target='_blank' rel='noopener noreferrer'><span class='song'>Couldn't Get It Right*</span><span class='album'>Gold Plated</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='elvis-costello' id='elvis-costello'><label for='elvis-costello'><span class='image'><img src='assets/images/elvis-costello.jpg' alt='Elvis Costello'></span><span class='performer'>Elvis Costello</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/elvis-costello-all-this-useless-beauty.html' target='_blank' rel='noopener noreferrer'><span class='song'>All This Useless Beauty*</span><span class='album'>All This Useless Beauty</span></a></li>
                     <li><a href='songs/elvis-costello-the-other-side-of-summer.html' target='_blank' rel='noopener noreferrer'><span class='song'>The Other Side Of Summer*</span><span class='album'>Mighty Like A Rose</span></a></li>
                     <li><a href='songs/elvis-costello-veronica.html' target='_blank' rel='noopener noreferrer'><span class='song'>Veronica*</span><span class='album'>Spike</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='cracker' id='cracker'><label for='cracker'><span class='image'><img src='assets/images/cracker.jpg' alt='Cracker'></span><span class='performer'>Cracker</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/cracker-euro-trash-girl.html' target='_blank' rel='noopener noreferrer'><span class='song'>Euro Trash Girl</span><span class='album'>Kerosene Hat</span></a></li>
                     <li><a href='songs/cracker-get-off-this.html' target='_blank' rel='noopener noreferrer'><span class='song'>Get Off This</span><span class='album'>Kerosene Hat</span></a></li>
                     <li><a href='songs/cracker-it-aint-gonna-suck-itself.html' target='_blank' rel='noopener noreferrer'><span class='song'>It Ain't Gonna Suck Itself</span><span class='album'>Countrysides</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='creedence-clearwater-revival' id='creedence-clearwater-revival'><label for='creedence-clearwater-revival'><span class='image'><img src='assets/images/creedence-clearwater-revival.jpg' alt='Creedence Clearwater Revival'></span><span class='performer'>Creedence Clearwater Revival</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/creedence-clearwater-revival-down-on-the-corner.html' target='_blank' rel='noopener noreferrer'><span class='song'>Down On The Corner</span><span class='album'>Willy And The Poor Boys</span></a></li>
                     <li><a href='songs/creedence-clearwater-revival-fortunate-son.html' target='_blank' rel='noopener noreferrer'><span class='song'>Fortunate Son</span><span class='album'>Willy And The Poor Boys</span></a></li>
                     <li><a href='songs/creedence-clearwater-revival-have-you-ever-seen-the-rain.html' target='_blank' rel='noopener noreferrer'><span class='song'>Have You Ever Seen The Rain?</span><span class='album'>Pendulum</span></a></li>
                     <li><a href='songs/creedence-clearwater-revival-i-heard-it-through-the-grapevine.html' target='_blank' rel='noopener noreferrer'><span class='song'>I Heard It Through The Grapevine</span><span class='album'>Cosmo's Factory</span></a></li>
                     <li><a href='songs/creedence-clearwater-revival-lodi.html' target='_blank' rel='noopener noreferrer'><span class='song'>Lodi</span><span class='album'>Green River</span></a></li>
                     <li><a href='songs/creedence-clearwater-revival-proud-mary.html' target='_blank' rel='noopener noreferrer'><span class='song'>Proud Mary</span><span class='album'>Bayou Country</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='crowded-house' id='crowded-house'><label for='crowded-house'><span class='image'><img src='assets/images/crowded-house.jpg' alt='Crowded House'></span><span class='performer'>Crowded House</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/crowded-house-something-so-strong.html' target='_blank' rel='noopener noreferrer'><span class='song'>Something So Strong</span><span class='album'>Crowded House</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='evan-dando' id='evan-dando'><label for='evan-dando'><span class='image'><img src='assets/images/evan-dando.jpg' alt='Evan Dando'></span><span class='performer'>Evan Dando</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/evan-dando-frying-pan.html' target='_blank' rel='noopener noreferrer'><span class='song'>Frying Pan</span><span class='album'>Heavy (Original Motion Picture Soundtrack)</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='danzig' id='danzig'><label for='danzig'><span class='image'><img src='assets/images/danzig.jpg' alt='Danzig'></span><span class='performer'>Danzig</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/danzig-thirteen.html' target='_blank' rel='noopener noreferrer'><span class='song'>Thirteen</span><span class='album'>6:66 Satan's Child</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='michael-dorman' id='michael-dorman'><label for='michael-dorman'><span class='image'><img src='assets/images/michael-dorman.jpg' alt='Michael Dorman'></span><span class='performer'>Michael Dorman</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/michael-dorman-afternoon-spray.html' target='_blank' rel='noopener noreferrer'><span class='song'>Afternoon Spray*</span><span class='album'>Patriot: Season 1 EP (An Amazon Original Soundtrack)</span></a></li>
                     <li><a href='songs/michael-dorman-dead-serious-rick.html' target='_blank' rel='noopener noreferrer'><span class='song'>Dead Serious Rick</span><span class='album'>Patriot: Season 1 EP (An Amazon Original Soundtrack)</span></a></li>
                     <li><a href='songs/michael-dorman-martin-tidy.html' target='_blank' rel='noopener noreferrer'><span class='song'>Martin Tidy*</span><span class='album'>Patriot: Season 2 (Amazon Original Soundtrack)</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='duran-duran' id='duran-duran'><label for='duran-duran'><span class='image'><img src='assets/images/duran-duran.jpg' alt='Duran Duran'></span><span class='performer'>Duran Duran</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/duran-duran-reach-up-for-the-sunrise.html' target='_blank' rel='noopener noreferrer'><span class='song'>(Reach Up for The) Sunrise</span><span class='album'>Astronaut</span></a></li>
                     <li><a href='songs/duran-duran-hungry-like-the-wolf.html' target='_blank' rel='noopener noreferrer'><span class='song'>Hungry Like The Wolf</span><span class='album'>Rio</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='the-flaming-lips' id='the-flaming-lips'><label for='the-flaming-lips'><span class='image'><img src='assets/images/the-flaming-lips.jpg' alt='The Flaming Lips'></span><span class='performer'>The Flaming Lips</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/the-flaming-lips-yoshimi-battles-the-pink-robots.html' target='_blank' rel='noopener noreferrer'><span class='song'>Yoshimi Battles The Pink Robots, Pt. 1</span><span class='album'>Yoshimi Battles The Pink Robots</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='foo-fighters' id='foo-fighters'><label for='foo-fighters'><span class='image'><img src='assets/images/foo-fighters.jpg' alt='Foo Fighters'></span><span class='performer'>Foo Fighters</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/foo-fighters-next-year.html' target='_blank' rel='noopener noreferrer'><span class='song'>Next Year</span><span class='album'>There Is Nothing Left To Lose</span></a></li>
                     <li><a href='songs/foo-fighters-overdrive.html' target='_blank' rel='noopener noreferrer'><span class='song'>Overdrive*</span><span class='album'>One By One</span></a></li>
                     <li><a href='songs/foo-fighters-times-like-these.html' target='_blank' rel='noopener noreferrer'><span class='song'>Times Like These</span><span class='album'>One By One</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='guns-n-roses' id='guns-n-roses'><label for='guns-n-roses'><span class='image'><img src='assets/images/guns-n-roses.jpg' alt='Guns N' Roses'></span><span class='performer'>Guns N' Roses</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/guns-n-roses-used-to-love-her.html' target='_blank' rel='noopener noreferrer'><span class='song'>Used To Love Her</span><span class='album'>G N' R Lies</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='george-harrison' id='george-harrison'><label for='george-harrison'><span class='image'><img src='assets/images/george-harrison.jpg' alt='George Harrison'></span><span class='performer'>George Harrison</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/george-harrison-cheer-down.html' target='_blank' rel='noopener noreferrer'><span class='song'>Cheer Down</span><span class='album'>Lethal Weapon 2 Original Motion Picture Soundtrack</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='the-hollies' id='the-hollies'><label for='the-hollies'><span class='image'><img src='assets/images/the-hollies.jpg' alt='The Hollies'></span><span class='performer'>The Hollies</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/the-hollies-long-cool-woman-in-a-black-dress.html' target='_blank' rel='noopener noreferrer'><span class='song'>Long Cool Woman In A Black Dress</span><span class='album'>Distant Light</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='kiss' id='kiss'><label for='kiss'><span class='image'><img src='assets/images/kiss.jpg' alt='KISS'></span><span class='performer'>KISS</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/kiss-forever.html' target='_blank' rel='noopener noreferrer'><span class='song'>Forever</span><span class='album'>Hot In The Shade</span></a></li>
                     <li><a href='songs/kiss-plaster-caster.html' target='_blank' rel='noopener noreferrer'><span class='song'>Plaster Caster</span><span class='album'>Love Gun</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='the-lemonheads' id='the-lemonheads'><label for='the-lemonheads'><span class='image'><img src='assets/images/the-lemonheads.jpg' alt='The Lemonheads'></span><span class='performer'>The Lemonheads</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/the-lemonheads-confetti.html' target='_blank' rel='noopener noreferrer'><span class='song'>Confetti</span><span class='album'>It's A Shame About Ray</span></a></li>
                     <li><a href='songs/the-lemonheads-into-your-arms.html' target='_blank' rel='noopener noreferrer'><span class='song'>Into Your Arms</span><span class='album'>Come On Feel The Lemonheads</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='julian-lennon' id='julian-lennon'><label for='julian-lennon'><span class='image'><img src='assets/images/julian-lennon.jpg' alt='Julian Lennon'></span><span class='performer'>Julian Lennon</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/julian-lennon-too-late-for-goodbyes.html' target='_blank' rel='noopener noreferrer'><span class='song'>Too Late For Goodbyes</span><span class='album'>Valotte</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='level-42' id='level-42'><label for='level-42'><span class='image'><img src='assets/images/level-42.jpg' alt='Level 42'></span><span class='performer'>Level 42</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/level-42-lessons-in-love.html' target='_blank' rel='noopener noreferrer'><span class='song'>Lessons In Love</span><span class='album'>Running In The Family</span></a></li>
                     <li><a href='songs/level-42-something-about-you.html' target='_blank' rel='noopener noreferrer'><span class='song'>Something About You</span><span class='album'>World Machine</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='mazzy-star' id='mazzy-star'><label for='mazzy-star'><span class='image'><img src='assets/images/mazzy-star.jpg' alt='Mazzy Star'></span><span class='performer'>Mazzy Star</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/mazzy-star-bells-ring.html' target='_blank' rel='noopener noreferrer'><span class='song'>Bells Ring</span><span class='album'>So Tonight That I May See</span></a></li>
                     <li><a href='songs/mazzy-star-blue-flower.html' target='_blank' rel='noopener noreferrer'><span class='song'>Blue Flower</span><span class='album'>She Hangs Brightly</span></a></li>
                     <li><a href='songs/mazzy-star-five-string-serenade.html' target='_blank' rel='noopener noreferrer'><span class='song'>Five String Serenade</span><span class='album'>So Tonight That I May See</span></a></li>
                     <li><a href='songs/mazzy-star-give-you-my-lovin.html' target='_blank' rel='noopener noreferrer'><span class='song'>Give You My Lovin'</span><span class='album'>She Hangs Brightly</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='men-at-work' id='men-at-work'><label for='men-at-work'><span class='image'><img src='assets/images/men-at-work.jpg' alt='Men At Work'></span><span class='performer'>Men At Work</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/men-at-work-i-can-see-it-in-your-eyes.html' target='_blank' rel='noopener noreferrer'><span class='song'>I Can See It In Your Eyes</span><span class='album'>Business As Usual</span></a></li>
                     <li><a href='songs/men-at-work-overkill.html' target='_blank' rel='noopener noreferrer'><span class='song'>Overkill</span><span class='album'>Cargo</span></a></li>
                     <li><a href='songs/men-at-work-people-just-love-to-play-with-words.html' target='_blank' rel='noopener noreferrer'><span class='song'>People Just Love To Play With Words</span><span class='album'>Business As Usual</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='morrissey' id='morrissey'><label for='morrissey'><span class='image'><img src='assets/images/morrissey.jpg' alt='Morrissey'></span><span class='performer'>Morrissey</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/morrissey-everyday-is-like-sunday.html' target='_blank' rel='noopener noreferrer'><span class='song'>Everyday Is Like Sunday</span><span class='album'>Viva Hate</span></a></li>
                     <li><a href='songs/morrissey-why-dont-you-find-out-for-yourself.html' target='_blank' rel='noopener noreferrer'><span class='song'>Why Don't You Find Out For Yourself</span><span class='album'>Vauxhall And I</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='pearl-jam' id='pearl-jam'><label for='pearl-jam'><span class='image'><img src='assets/images/pearl-jam.jpg' alt='Pearl Jam'></span><span class='performer'>Pearl Jam</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/pearl-jam-better-man.html' target='_blank' rel='noopener noreferrer'><span class='song'>Better Man</span><span class='album'>Vitalogy</span></a></li>
                     <li><a href='songs/pearl-jam-come-back.html' target='_blank' rel='noopener noreferrer'><span class='song'>Come Back</span><span class='album'>Pearl Jam</span></a></li>
                     <li><a href='songs/pearl-jam-thin-air.html' target='_blank' rel='noopener noreferrer'><span class='song'>Thin Air</span><span class='album'>Binaural</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='tom-petty' id='tom-petty'><label for='tom-petty'><span class='image'><img src='assets/images/tom-petty.jpg' alt='Tom Petty'></span><span class='performer'>Tom Petty</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/tom-petty-a-face-in-the-crowd.html' target='_blank' rel='noopener noreferrer'><span class='song'>A Face In The Crowd</span><span class='album'>Full Moon Fever</span></a></li>
                     <li><a href='songs/tom-petty-american-girl.html' target='_blank' rel='noopener noreferrer'><span class='song'>American Girl</span><span class='album'>Tom Petty And The Heartbreakers</span></a></li>
                     <li><a href='songs/tom-petty-angel-dream.html' target='_blank' rel='noopener noreferrer'><span class='song'>Angel Dream (No. 2)</span><span class='album'>Songs And Music From She's The One</span></a></li>
                     <li><a href='songs/tom-petty-change-the-locks.html' target='_blank' rel='noopener noreferrer'><span class='song'>Change The Locks</span><span class='album'>Songs And Music From She's The One</span></a></li>
                     <li><a href='songs/tom-petty-i-wont-back-down.html' target='_blank' rel='noopener noreferrer'><span class='song'>I Won't Back Down</span><span class='album'>Full Moon Fever</span></a></li>
                     <li><a href='songs/tom-petty-learning-to-fly.html' target='_blank' rel='noopener noreferrer'><span class='song'>Learning To Fly</span><span class='album'>Into The Great Wide Open</span></a></li>
                     <li><a href='songs/tom-petty-runnin-down-a-dream.html' target='_blank' rel='noopener noreferrer'><span class='song'>Runnin' Down A Dream</span><span class='album'>Full Moon Fever</span></a></li>
                     <li><a href='songs/tom-petty-swingin.html' target='_blank' rel='noopener noreferrer'><span class='song'>Swingin'</span><span class='album'>Echo</span></a></li>
                     <li><a href='songs/tom-petty-walls.html' target='_blank' rel='noopener noreferrer'><span class='song'>Walls</span><span class='album'>Songs And Music From She's The One</span></a></li>
                     <li><a href='songs/tom-petty-you-get-me-high.html' target='_blank' rel='noopener noreferrer'><span class='song'>You Get Me High</span><span class='album'>Playback</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='liz-phair' id='liz-phair'><label for='liz-phair'><span class='image'><img src='assets/images/liz-phair.jpg' alt='Liz Phair'></span><span class='performer'>Liz Phair</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/liz-phair-fuck-and-run.html' target='_blank' rel='noopener noreferrer'><span class='song'>Fuck And Run</span><span class='album'>Exile In Guyville</span></a></li>
                     <li><a href='songs/liz-phair-red-light-fever.html' target='_blank' rel='noopener noreferrer'><span class='song'>Red Light Fever</span><span class='album'>Liz Phair</span></a></li>
                     <li><a href='songs/liz-phair-shitloads-of-money.html' target='_blank' rel='noopener noreferrer'><span class='song'>Shitloads Of Money</span><span class='album'>Whitechocolatespaceegg</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='phish' id='phish'><label for='phish'><span class='image'><img src='assets/images/phish.jpg' alt='Phish'></span><span class='performer'>Phish</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/phish-ac-dc-bag.html' target='_blank' rel='noopener noreferrer'><span class='song'>AC/DC Bag</span><span class='album'>Phish</span></a></li>
                     <li><a href='songs/phish-driver.html' target='_blank' rel='noopener noreferrer'><span class='song'>Driver</span><span class='album'>Farmhouse</span></a></li>
                     <li><a href='songs/phish-heavy-things.html' target='_blank' rel='noopener noreferrer'><span class='song'>Heavy Things</span><span class='album'>Farmhouse</span></a></li>
                     <li><a href='songs/phish-nicu.html' target='_blank' rel='noopener noreferrer'><span class='song'>NICU</span><span class='album'></span></a></li>
                     <li><a href='songs/phish-pebbles-and-marbles.html' target='_blank' rel='noopener noreferrer'><span class='song'>Pebbles And Marbles</span><span class='album'>Round Room</span></a></li>
                     <li><a href='songs/phish-prince-caspian.html' target='_blank' rel='noopener noreferrer'><span class='song'>Prince Caspian</span><span class='album'>Billy Breathes</span></a></li>
                     <li><a href='songs/phish-runaway-jim.html' target='_blank' rel='noopener noreferrer'><span class='song'>Runaway Jim</span><span class='album'></span></a></li>
                     <li><a href='songs/phish-sample-in-a-jar.html' target='_blank' rel='noopener noreferrer'><span class='song'>Sample In A Jar</span><span class='album'>Phish</span></a></li>
                     <li><a href='songs/phish-theme-from-the-bottom.html' target='_blank' rel='noopener noreferrer'><span class='song'>Theme From The Bottom</span><span class='album'>Billy Breathes</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='pixies' id='pixies'><label for='pixies'><span class='image'><img src='assets/images/pixies.jpg' alt='Pixies'></span><span class='performer'>Pixies</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/pixies-greens-and-blues.html' target='_blank' rel='noopener noreferrer'><span class='song'>Greens And Blues</span><span class='album'>Indie Cindy</span></a></li>
                     <li><a href='songs/pixies-here-comes-your-man.html' target='_blank' rel='noopener noreferrer'><span class='song'>Here Comes Your Man</span><span class='album'>Doolittle</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='the-police' id='the-police'><label for='the-police'><span class='image'><img src='assets/images/the-police.jpg' alt='The Police'></span><span class='performer'>The Police</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/the-police-miss-gradenko.html' target='_blank' rel='noopener noreferrer'><span class='song'>Miss Gradenko*</span><span class='album'>Synchronicity</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='john-prine' id='john-prine'><label for='john-prine'><span class='image'><img src='assets/images/john-prine.jpg' alt='John Prine'></span><span class='performer'>John Prine</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/john-prine-pretty-good.html' target='_blank' rel='noopener noreferrer'><span class='song'>Pretty Good</span><span class='album'>John Prine</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='the-ramones' id='the-ramones'><label for='the-ramones'><span class='image'><img src='assets/images/the-ramones.jpg' alt='The Ramones'></span><span class='performer'>The Ramones</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/the-ramones-bonzo-goes-to-bitburg.html' target='_blank' rel='noopener noreferrer'><span class='song'>Bonzo Goes To Bitburg*</span><span class='album'>Animal Boy</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='keith-richards' id='keith-richards'><label for='keith-richards'><span class='image'><img src='assets/images/keith-richards.jpg' alt='Keith Richards'></span><span class='performer'>Keith Richards</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/keith-richards-eileen.html' target='_blank' rel='noopener noreferrer'><span class='song'>Eileen</span><span class='album'>Main Offender</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='tears-for-fears' id='tears-for-fears'><label for='tears-for-fears'><span class='image'><img src='assets/images/tears-for-fears.jpg' alt='Tears For Fears'></span><span class='performer'>Tears For Fears</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/tears-for-fears-head-over-heels.html' target='_blank' rel='noopener noreferrer'><span class='song'>Head Over Heels</span><span class='album'>Songs From The Big Chair</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='traveling-wilburys' id='traveling-wilburys'><label for='traveling-wilburys'><span class='image'><img src='assets/images/traveling-wilburys.jpg' alt='Traveling Wilburys'></span><span class='performer'>Traveling Wilburys</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/traveling-wilburys-handle-with-care.html' target='_blank' rel='noopener noreferrer'><span class='song'>Handle With Care</span><span class='album'>Traveling Wilburys Vol. 1</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='travis' id='travis'><label for='travis'><span class='image'><img src='assets/images/travis.jpg' alt='Travis'></span><span class='performer'>Travis</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/travis-follow-the-light.html' target='_blank' rel='noopener noreferrer'><span class='song'>Follow The Light</span><span class='album'>The Invisible Band</span></a></li>
                     <li><a href='songs/travis-side.html' target='_blank' rel='noopener noreferrer'><span class='song'>Side</span><span class='album'>The Invisible Band</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='ween' id='ween'><label for='ween'><span class='image'><img src='assets/images/ween.jpg' alt='Ween'></span><span class='performer'>Ween</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/ween-piss-up-a-rope.html' target='_blank' rel='noopener noreferrer'><span class='song'>Piss Up A Rope</span><span class='album'>12 Golden Country Greats</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='weezer' id='weezer'><label for='weezer'><span class='image'><img src='assets/images/weezer.jpg' alt='Weezer'></span><span class='performer'>Weezer</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/weezer-king.html' target='_blank' rel='noopener noreferrer'><span class='song'>King</span><span class='album'>Weezer</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='wilco' id='wilco'><label for='wilco'><span class='image'><img src='assets/images/wilco.jpg' alt='Wilco'></span><span class='performer'>Wilco</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/wilco-ashes-of-american-flags.html' target='_blank' rel='noopener noreferrer'><span class='song'>Ashes Of American Flags</span><span class='album'>Yankee Hotel Foxtrot</span></a></li>
                     <li><a href='songs/wilco-bob-dylans-49th-beard.html' target='_blank' rel='noopener noreferrer'><span class='song'>Bob Dylan's 49th Beard</span><span class='album'>Alpha Mike Foxtrot: Rare Tracks 1994-2014</span></a></li>
                     <li><a href='songs/wilco-cars-cant-escape.html' target='_blank' rel='noopener noreferrer'><span class='song'>Cars Can't Escape</span><span class='album'>Alpha Mike Foxtrot: Rare Tracks 1994-2014</span></a></li>
                     <li><a href='songs/wilco-handshake-drugs.html' target='_blank' rel='noopener noreferrer'><span class='song'>Handshake Drugs</span><span class='album'>A Ghost Is Born</span></a></li>
                     <li><a href='songs/wilco-heavy-metal-drummer.html' target='_blank' rel='noopener noreferrer'><span class='song'>Heavy Metal Drummer</span><span class='album'>Yankee Hotel Foxtrot</span></a></li>
                     <li><a href='songs/wilco-kamera.html' target='_blank' rel='noopener noreferrer'><span class='song'>Kamera</span><span class='album'>Yankee Hotel Foxtrot</span></a></li>
                     <li><a href='songs/wilco-pot-kettle-black.html' target='_blank' rel='noopener noreferrer'><span class='song'>Pot Kettle Black</span><span class='album'>Yankee Hotel Foxtrot</span></a></li>
                     <li><a href='songs/wilco-the-thanks-i-get.html' target='_blank' rel='noopener noreferrer'><span class='song'>The Thanks I Get</span><span class='album'>Alpha Mike Foxtrot: Rare Tracks 1994-2014</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='pete-yorn' id='pete-yorn'><label for='pete-yorn'><span class='image'><img src='assets/images/pete-yorn.jpg' alt='Pete Yorn'></span><span class='performer'>Pete Yorn</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/pete-yorn-come-back-home.html' target='_blank' rel='noopener noreferrer'><span class='song'>Come Back Home</span><span class='album'>Day I Forgot</span></a></li>
                     <li><a href='songs/pete-yorn-crystal-village.html' target='_blank' rel='noopener noreferrer'><span class='song'>Crystal Village</span><span class='album'>Day I Forgot</span></a></li>
                     <li><a href='songs/pete-yorn-just-another.html' target='_blank' rel='noopener noreferrer'><span class='song'>Just Another</span><span class='album'>musicforthemorningafter</span></a></li>
                     <li><a href='songs/pete-yorn-life-on-a-chain.html' target='_blank' rel='noopener noreferrer'><span class='song'>Life On A Chain</span><span class='album'>musicforthemorningafter</span></a></li>
                     <li><a href='songs/pete-yorn-murray.html' target='_blank' rel='noopener noreferrer'><span class='song'>Murray</span><span class='album'>musicforthemorningafter</span></a></li>
                  </ul>
               </div>
            </div>
            <div class='artist'>
               <input type='checkbox' name='neil-young' id='neil-young'><label for='neil-young'><span class='image'><img src='assets/images/neil-young.jpg' alt='Neil Young'></span><span class='performer'>Neil Young</span></label>
               <div class='songs'>
                  <ul>
                     <li><a href='songs/neil-young-dreamin-man.html' target='_blank' rel='noopener noreferrer'><span class='song'>Dreamin' Man</span><span class='album'>Harvest Moon</span></a></li>
                     <li><a href='songs/neil-young-im-the-ocean.html' target='_blank' rel='noopener noreferrer'><span class='song'>I'm The Ocean</span><span class='album'>Mirrow Ball</span></a></li>
                     <li><a href='songs/neil-young-natural-beauty.html' target='_blank' rel='noopener noreferrer'><span class='song'>Natural Beauty</span><span class='album'>Harvest Moon</span></a></li>
                     <li><a href='songs/neil-young-the-old-laughing-lady.html' target='_blank' rel='noopener noreferrer'><span class='song'>The Old Laughing Lady</span><span class='album'>Neil Young</span></a></li>
                  </ul>
               </div>
            </div>
          </section>
        </section>
      </article>
    </main>
    <footer>
      <section class="details">
        <form style="padding: 0;">
          <fieldset style="padding: 0;">
            <label for="switch-theme">Theme<input type="checkbox" name="switch-theme" class="switch" id="switch-theme"></label>
          </fieldset>
        </form>
      </section>
      <%- include('includes/footer-about'); %>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="assets/js/site.js"></script>
    <script>
      // CHANGE CSS WHEN PAGE LOADS
      $(document).ready(function(){
        $("body").addClass("visible");
        $("body").removeClass("hidden");
      });
    </script>
  </body>
</html>
