<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head', { title }); %>
    <style>
    </style>
  </head>
  <body class="hidden">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF6BNKF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main class="index">
      <article>
        <h1 class="visuallyhidden"><%= title %> Temporary Index</h1>
        <section>
          <h2>Welcome to <%= title %></h2>
          <p>This is the temporary index for the new version of <%= title %>.</p>
          <h3>Current list:</h3>
          <h4>Beck</h4><p><a href='songs/beck-asshole.html' target='_blank'>Asshole</a>
          <p><a href='songs/beck-bogusflow.html' target='_blank'>Bogusflow</a></p>
          <p><a href='songs/beck-girl.html' target='_blank'>Girl</a></p>
          <p><a href='songs/beck-lost-cause.html' target='_blank'>Lost Cause</a></p>
          <p><a href='songs/beck-rowboat.html' target='_blank'>Rowboat</a></p>
          <h4>Camper Van Beethoven</h4><p><a href='songs/camper-van-beethoven-51-7.html' target='_blank'>51-7</a>
          <p><a href='songs/camper-van-beethoven-take-the-skinheads-bowling.html' target='_blank'>Take The Skinheads Bowling</a></p>
          <h4>Elvis Costello</h4>
          <p><a href='songs/elvis-costello-all-this-useless-beauty.html' target='_blank'>All This Useless Beauty*</a>
          <p><a href='songs/elvis-costello-the-other-side-of-summer.html' target='_blank'>The Other Side Of Summer*</a></p>
          <p><a href='songs/elvis-costello-veronica.html' target='_blank'>Veronica*</a></p>
          <h4>Cracker</h4><p><a href='songs/cracker-euro-trash-girl.html' target='_blank'>Euro Trash Girl</a>
          <p><a href='songs/cracker-get-off-this.html' target='_blank'>Get Off This</a></p>
          <p><a href='songs/cracker-it-aint-gonna-suck-itself.html' target='_blank'>It Ain't Gonna Suck Itself</a></p>
          <h4>Creedence Clearwater Revival</h4><p><a href='songs/creedence-clearwater-revival-lodi.html' target='_blank'>Lodi</a>
          <h4>Crowded House</h4><p><a href='songs/crowded-house-something-so-strong.html' target='_blank'>Something So Strong</a>
          <h4>Evan Dando</h4><p><a href='songs/evan-dando-frying-pan.html' target='_blank'>Frying Pan</a>
          <h4>Danzig</h4><p><a href='songs/danzig-thirteen.html' target='_blank'>Thirteen</a>
          <h4>Michael Dorman</h4><p><a href='songs/michael-dorman-afternoon-spray.html' target='_blank'>Afternoon Spray</a>
          <p><a href='songs/michael-dorman-dead-serious-rick.html' target='_blank'>Dead Serious Rick</a></p>
          <p><a href='songs/michael-dorman-martin-tidy.html' target='_blank'>Martin Tidy*</a></p>
          <h4>Duran Duran</h4><p><a href='songs/duran-duran-reach-up-for-the-sunrise.html' target='_blank'>(Reach Up for The) Sunrise</a>
          <p><a href='songs/duran-duran-hungry-like-the-wolf.html' target='_blank'>Hungry Like The Wolf</a></p>
          <h4>The Flaming Lips</h4><p><a href='songs/the-flaming-lips-yoshimi-battles-the-pink-robots.html' target='_blank'>Yoshimi Battles The Pink Robots, Pt. 1</a>
          <h4>Foo Fighters</h4><p><a href='songs/foo-fighters-next-year.html' target='_blank'>Next Year</a>
          <p><a href='songs/foo-fighters-times-like-these.html' target='_blank'>Times Like These</a></p>
          <h4>Guns N' Roses</h4><p><a href='songs/guns-n-roses-used-to-love-her.html' target='_blank'>Used To Love Her</a>
          <h4>George Harrison</h4><p><a href='songs/george-harrison-cheer-down.html' target='_blank'>Cheer Down</a>
          <h4>The Hollies</h4><p><a href='songs/the-hollies-long-cool-woman-in-a-black-dress.html' target='_blank'>Long Cool Woman In A Black Dress</a>
          <h4>KISS</h4><p><a href='songs/kiss-forever.html' target='_blank'>Forever</a>
          <p><a href='songs/kiss-plaster-caster.html' target='_blank'>Plaster Caster</a></p>
          <h4>The Lemonheads</h4><p><a href='songs/the-lemonheads-confetti.html' target='_blank'>Confetti</a>
          <p><a href='songs/the-lemonheads-into-your-arms.html' target='_blank'>Into Your Arms</a></p>
          <h4>Julian Lennon</h4><p><a href='songs/julian-lennon-too-late-for-goodbyes.html' target='_blank'>Too Late For Goodbyes</a>
          <h4>Level 42</h4><p><a href='songs/level-42-lessons-in-love.html' target='_blank'>Lessons In Love</a>
          <p><a href='songs/level-42-something-about-you.html' target='_blank'>Something About You</a></p>
          <h4>Mazzy Star</h4><p><a href='songs/mazzy-star-bells-ring.html' target='_blank'>Bells Ring</a>
          <p><a href='songs/mazzy-star-blue-flower.html' target='_blank'>Blue Flower</a></p>
          <p><a href='songs/mazzy-star-five-string-serenade.html' target='_blank'>Five String Serenade</a></p>
          <p><a href='songs/mazzy-star-give-you-my-lovin.html' target='_blank'>Give You My Lovin'</a></p>
          <h4>Men At Work</h4><p><a href='songs/men-at-work-i-can-see-it-in-your-eyes.html' target='_blank'>I Can See It In Your Eyes</a>
          <p><a href='songs/men-at-work-overkill.html' target='_blank'>Overkill</a></p>
          <p><a href='songs/men-at-work-people-just-love-to-play-with-words.html' target='_blank'>People Just Love To Play With Words</a></p>
          <h4>Morrissey</h4><p><a href='songs/morrissey-everyday-is-like-sunday.html' target='_blank'>Everyday Is Like Sunday</a>
          <p><a href='songs/morrissey-why-dont-you-find-out-for-yourself.html' target='_blank'>Why Don't You Find Out For Yourself</a></p>
          <h4>Pearl Jam</h4><p><a href='songs/pearl-jam-better-man.html' target='_blank'>Better Man</a>
          <p><a href='songs/pearl-jam-come-back.html' target='_blank'>Come Back</a></p>
          <p><a href='songs/pearl-jam-thin-air.html' target='_blank'>Thin Air</a></p>
          <h4>Tom Petty</h4><p><a href='songs/tom-petty-a-face-in-the-crowd.html' target='_blank'>A Face In The Crowd</a>
          <p><a href='songs/tom-petty-i-wont-back-down.html' target='_blank'>I Won't Back Down*</a></p>
          <p><a href='songs/tom-petty-learning-to-fly.html' target='_blank'>Learning To Fly</a></p>
          <p><a href='songs/tom-petty-runnin-down-a-dream.html' target='_blank'>Runnin' Down A Dream</a></p>
          <p><a href='songs/tom-petty-walls.html' target='_blank'>Walls</a></p>
          <h4>Liz Phair</h4><p><a href='songs/liz-phair-fuck-and-run.html' target='_blank'>Fuck And Run</a>
          <p><a href='songs/liz-phair-red-light-fever.html' target='_blank'>Red Light Fever</a></p>
          <p><a href='songs/liz-phair-shitloads-of-money.html' target='_blank'>Shitloads Of Money</a></p>
          <h4>Phish</h4><p><a href='songs/phish-ac-dc-bag.html' target='_blank'>AC/DC Bag</a>
          <p><a href='songs/phish-driver.html' target='_blank'>Driver</a></p>
          <p><a href='songs/phish-heavy-things.html' target='_blank'>Heavy Things</a></p>
          <p><a href='songs/phish-pebbles-and-marbles.html' target='_blank'>Pebbles And Marbles</a></p>
          <p><a href='songs/phish-prince-caspian.html' target='_blank'>Prince Caspian</a></p>
          <p><a href='songs/phish-runaway-jim.html' target='_blank'>Runaway Jim</a></p>
          <p><a href='songs/phish-sample-in-a-jar.html' target='_blank'>Sample In A Jar</a></p>
          <p><a href='songs/phish-theme-from-the-bottom.html' target='_blank'>Theme From The Bottom</a></p>
          <h4>Pixies</h4><p><a href='songs/pixies-greens-and-blues.html' target='_blank'>Greens And Blues</a>
          <p><a href='songs/pixies-here-comes-your-man.html' target='_blank'>Here Comes Your Man</a></p>
          <h4>John Prine</h4><p><a href='songs/john-prine-pretty-good.html' target='_blank'>Pretty Good</a>
          <h4>Keith Richards</h4><p><a href='songs/keith-richards-eileen.html' target='_blank'>Eileen</a>
          <h4>Tears For Fears</h4><p><a href='songs/tears-for-fears-head-over-heels.html' target='_blank'>Head Over Heels</a>
          <h4>Traveling Wilburys</h4><p><a href='songs/traveling-wilburys-handle-with-care.html' target='_blank'>Handle With Care</a>
          <h4>Ween</h4><p><a href='songs/ween-piss-up-a-rope.html' target='_blank'>Piss Up A Rope</a>
          <h4>Weezer</h4><p><a href='songs/weezer-king.html' target='_blank'>King</a>
          <h4>Wilco</h4><p><a href='songs/wilco-ashes-of-american-flags.html' target='_blank'>Ashes Of American Flags</a>
          <p><a href='songs/wilco-bob-dylans-49th-beard.html' target='_blank'>Bob Dylan's 49th Beard</a></p>
          <p><a href='songs/wilco-cars-cant-escape.html' target='_blank'>Cars Can't Escape</a></p>
          <p><a href='songs/wilco-handshake-drugs.html' target='_blank'>Handshake Drugs</a></p>
          <p><a href='songs/wilco-heavy-metal-drummer.html' target='_blank'>Heavy Metal Drummer</a></p>
          <p><a href='songs/wilco-kamera.html' target='_blank'>Kamera</a></p>
          <p><a href='songs/wilco-pot-kettle-black.html' target='_blank'>Pot Kettle Black</a></p>
          <p><a href='songs/wilco-the-thanks-i-get.html' target='_blank'>The Thanks I Get</a></p>
          <h4>Pete Yorn</h4><p><a href='songs/pete-yorn-come-back-home.html' target='_blank'>Come Back Home</a>
          <p><a href='songs/pete-yorn-crystal-village.html' target='_blank'>Crystal Village</a></p>
          <p><a href='songs/pete-yorn-just-another.html' target='_blank'>Just Another</a></p>
          <p><a href='songs/pete-yorn-life-on-a-chain.html' target='_blank'>Life On A Chain</a></p>
          <p><a href='songs/pete-yorn-murray.html' target='_blank'>Murray</a></p>
          <h4>Neil Young</h4><p><a href='songs/neil-young-dreamin-man.html' target='_blank'>Dreamin' Man</a>
          <p><a href='songs/neil-young-im-the-ocean.html' target='_blank'>I'm The Ocean</a></p>
          <p><a href='songs/neil-young-natural-beauty.html' target='_blank'>Natural Beauty</a></p>
          <p><a href='songs/neil-young-the-old-laughing-lady.html' target='_blank'>The Old Laughing Lady</a></p>
        </section>
      </article>
    </main>
    <footer>
      <section class="details">
        <form style="padding: 0;">
          <fieldset style="padding: 0;">
            <label for="switch-theme">Theme<input type="checkbox" name="switch-theme" class="switch" id="switch-theme"></label>
          </fieldset>
        </form>
      </section>
      <%- include('includes/footer-about'); %>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="assets/js/site.js"></script>
    <script>
      // CHANGE CSS WHEN PAGE LOADS
      $(document).ready(function(){
        $("body").addClass("visible");
        $("body").removeClass("hidden");
      });
    </script>
  </body>
</html>
