<!doctype html>
<html lang="en">
  <head>
<%- include('includes/head'); %>  </head>
  <body class="hidden">
    <main>
      <article>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
        <p><a href="index">Home</a></p>
      </article>
    </main>
    <footer>
      <section class="details">
        <form>
          <fieldset>
            <label for="switch-theme">Theme<input type="checkbox" name="switch-theme" class="switch" id="switch-theme"></label>
          </fieldset>
        </form>
      </section>
      <section class="about">
<%- include('includes/footer-about'); %>
      </section>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
  </body>
</html>
